body {
  background: black;
  color:#CCCCCC; 
}

#main {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 100px;

  position: relative;
}

#subtitle {
  background-color: rgba(255, 255, 255, 0.7);
  -moz-border-radius: 18px;
  padding: 10px;

  position: absolute;
  top: 190px;
  left: 80px;

  width: 340px;

  color: black;

  visibility: hidden;
  font-size: 1em;
}

#video {
  -moz-border-image: url(tv-border.jpg) 25 31 37 31 stretch stretch;
  border-width: 20px;
}

#args {
  float: left;
  border :1px solid #444444;
  padding:3px;
  margin: 3px;
  background:#3B3B3B;
  width: 100px;
}
label {
  display: block;
  clear: both;
}
label > input {
  width: 3em;
  float: right;
}

